# Power
type pps_socket, file_type;

# Powerstats
type sysfs_iio_devices, fs_type, sysfs_type;
type sysfs_power_stats, sysfs_type, fs_type;
type sysfs_power_stats_ignore, sysfs_type, fs_type;
